:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* text-colors */
  --brand-color: #2196f3;
  --main-textcolor: #757575;
  --header-textcolor: #212121;
  /* bg-colors */
  --main-bgcolor: #e5e5e5;
  --secondary-bgcolor: #2f303a;
  --add-color: #f5f4fa;
  /* others */
  --white-clr: #ffffff;
  --items: 3;
  --indent: 30px;
}
body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-textcolor);
}
/* common styles start */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}
.container {
  width: 1200px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.current-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  background-color: var(--white-clr);
}

/* common styles end */
/* header section */
.header-list {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-contakt-link {
  margin-left: auto;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-textcolor);
  background-color: var(--white-clr);
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-link:hover,
.header-link:focus {
  color: var(--brand-color);
}
.clr-logo-header {
  color: var(--header-textcolor);
}
.clr-logo-footer {
  color: var(--white-clr);
}
.btn {
  cursor: pointer;
  background-color: var(--brand-color);
  color: var(--white-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-contact {
  color: var(--main-textcolor);
}
.banner-main {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-clr);
  background-color: var(--secondary-bgcolor);
}
.banner-title {
  font-family: var(--main-font);
  color: var(--add-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.header-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-textcolor);
  padding-bottom: 50px;
}
.header-secondary {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-textcolor);
  margin-bottom: 10px;
}
.p-header-secondary {
  line-height: 1.71;
  height: 75px;
}
.list-team {
  --items: 4;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-textcolor);
  padding-bottom: 10px;
}
.seconadry-txt {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-textcolor);
}
.pfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-textcolor);
}
.section-ourteam {
  background-color: var(--add-color);
}
.cont-studio-skills {
  display: flex;
  padding-top: 94px;
}
.skills-list {
  display: flex;
}
.skills-list-item {
  flex-basis: 270px;
}
.skills-list-item:not(:last-child) {
  margin-right: 30px;
}
.cont-about {
  display: flex;
}
.cont-about-item:not(:last-child) {
  margin-right: 30px;
}
/* footer */
footer {
  background-color: var(--secondary-bgcolor);
}
.footer-linkadres {
  color: var(--white-clr);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.foot-item:not(:last-child) {
  padding-bottom: 9px;
}
.footer-linkadres:hover,
.footer-linkadres:focus {
  color: var(--brand-color);
}
.footer-linkcont {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-linkcont:hover,
.footer-linkcont:focus {
  color: var(--brand-color);
}
.adress {
  font-style: normal;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 93px;
}

/* portfolio */

.btn-pfolio:hover,
.btn-pfolio:focus {
  color: var(--white-clr);
  background-color: var(--brand-color);
}
.list-pfolio {
  display: flex;
}
.list-pfolio-item:not(:last-child) {
  padding-right: 8px;
}
.btn-pfoliotxt {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-textcolor);
}
